<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381346395853-1mm24ivejim2uoh2b7svu8pc80ksb1tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381346395853-1mm24ivejim2uoh2b7svu8pc80ksb1tm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>381346395853-4gofjj0ggukn4ne3vteeouh1eg6u1ebg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANXbctMyeVbMgHId4wXPxXOdrQJVw9QvM</string>
	<key>GCM_SENDER_ID</key>
	<string>381346395853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Blendify</string>
	<key>PROJECT_ID</key>
	<string>blendify-397117</string>
	<key>STORAGE_BUCKET</key>
	<string>blendify-397117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381346395853:ios:4c9f53d253371de880db84</string>
</dict>
</plist>